html {
    font-family: "Roboto Light", sans-serif;
}

body {

}

.sticky {
    position: sticky;
}

.absolute {
    position: absolute;
}

.top {
    top: 0;
}

.left {
    left: 0;
}

.bg-none {
    background-color: transparent;
}

.bg-white {
    background-color: white;
}

.bg-dark {
    background-color: #222222;
}

.bg-blue {
    background-color: dodgerblue;
}

.bg-light {
    background-color: #404040;
}

.bg-success {
    background-color: #1d9300;
}

.bg-alert {
    background-color: red;
}

.text-light {
    color: whitesmoke;
}

.text-success {
    color: #1d9300;
}

.text-alert {
    color: red;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-self: center;
}

.align-end {
    align-self: end;
}

.flex-center {
    justify-content:  center;
}

.flex-even {
    justify-content: space-evenly;
}

.flex-around {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.wh-25 {
    width: 50px;
    height: auto;
}

.w-1 {
    width: 100%;
}

.w-50 {
    width: 50px;
}

.w-100 {
    width: 100px;
}

.w-200 {
    width: 200px;
}

.w-400 {
    width: 400px;
}

.w-800 {
    width: 800px;
}

.w-fit {
    width: fit-content;
}

.wh-fit {
    width: fit-content;
    height: fit-content;
}

.ma-5 {
    margin: 5px;
}

.ma-10 {
    margin: 10px;
}

.mv-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.pa-0 {
    padding: 0;
}

.pa-5 {
    padding: 5px;
}

.pa-10 {
    padding: 10px;
}

.br-5 {
    border-radius: 5px;
}

.br-10 {
    border-radius: 10px;
}

.br-round {
    border-radius: 999px;
}

.b-none {
    border: none;
}

.b-white {
    border-color: whitesmoke;
}

.b-s {
    border-width: 2px;
    border-style: solid;
}

.b-m {
    border-width: 5px;
    border-style: solid;
}

.b-l {
    border-width: 8px;
    border-style: solid;
}

.fs-10 {
    font-size: 10pt;
}

.fs-12 {
    font-size: 12pt;
}

.fs-14 {
    font-size: 14pt;
}

.fs-16 {
    font-size: 16pt;
}

.dw-btn {
    border: none;
}

.hv-blue:hover {
    transition: ease-in-out;
    background-color: deepskyblue;
}

.hv-success:hover {
    transition: ease-in-out;
    background-color: forestgreen;
}

.hv-alert:hover {
    transition: ease-in-out;
    background-color: orangered;
}

.rm-btn {
    width: 30px;
    height: auto;
    border: none;
    background-color: transparent;
}

.rm-btn:hover {
    transition: ease-in-out;
    color: orangered;
}

.sv-btn {
    width: 30px;
    height: auto;
    border: none;
}

.sv-btn:hover {
    transition: ease-in-out;
    color: forestgreen;
}

.alert-box {
    display: none;
    opacity: 0;
    transform: scale(0);
    transition: .4s ease opacity, .4s ease transform;
}