html {
    height: 100vh;

    font-family: "Roboto Light", sans-serif;
}

body {
    height: 100%;
}

footer {
    margin-top: auto;
    height: 60px;
}

.z-high { z-index: 600; }

.z-highest { z-index: 999; }

.pos-sticky { position: sticky; }

.pos-absolute { position: absolute; }

.pos-relative { position: relative; }

.pos-fixed { position: fixed; }

.pos-top { top: 0; }

.pos-bottom { bottom: 0; }

.pos-left { left: 0; }

.bg-none { background-color: transparent; }

.bg-white { background-color: white; }

.bg-dark { background-color: #222222; }

.text-light { color: whitesmoke; }

.text-semilight { color: lightgray; }

.text-success { color: #1d9300; }

.text-alert { color: red; }

.text-lime { color: lime; }

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center { justify-content: center; }

.flex-even { justify-content: space-evenly; }

.flex-around { justify-content: space-around; }

.flex-between { justify-content: space-between; }

.align-center { align-self: center; }

.align-end { align-self: end; }

.w-1 { width: 100%; }

.w-200 { width: 200px; }

.w-300 { width: 300px; }

.w-400 { width: 400px; }

.w-600 { width: 600px; }

.w-800 { width: 800px; }

.w-fit { width: fit-content; }

.ma-5 { margin: 5px; }

.ma-10 { margin: 10px; }

.mv-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.pa-0 { padding: 0; }

.pa-5 { padding: 5px; }

.pa-10 { padding: 10px; }

.br-5 { border-radius: 5px; }

.br-10 { border-radius: 10px; }

.br-round { border-radius: 999px; }

.border-small {
    border-width: 2px;
    border-style: solid;
}

.border-none {
    border: none;
}

.fs-10 { font-size: 10pt; }

.fs-12 { font-size: 12pt; }

.fs-14 { font-size: 14pt; }

.fs-16 { font-size: 16pt; }

.btn-remove {
    width: 30px;
    height: auto;

    background-color: transparent;
    border: none;
}

.btn-remove:hover {
    color: orangered;

    transition: ease-in-out;
}

.btn-save {
    width: 30px;
    height: auto;

    border: none;
}

.btn-save:hover {
    color: forestgreen;

    transition: ease-in-out;
}

.alert-box {
    display: none;

    opacity: 0;
    transform: scale(0);
    transition: .4s ease opacity, .4s ease transform;
}